/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  line-height: 1.6;
  background-color: #ecf0f5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 30px;
  overflow: auto;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
}

.btn:hover {
  background: #333;
  color: #fff;
  border-color: transparent;
  transition: 0.3s;
}

/* Header */
header {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;  
}

header nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav li {
  margin-left: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem; 
}

header nav a:hover {
  color: lightblue;
}

/* Hero Section */
#hero { 
 text-align: center;
 padding: 2rem;
}

#hero h2 {
  font-size: 2.5rem;  
}

/* Features */
#features {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#features h3 {
 font-size: 1.25rem;
} 

/* Products */
#products {
  text-align: center;
}

#products .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#products .product img {
  height: 200px;
  width: auto;
  object-fit: cover;
}

/* Sales */ 
#sales {
 text-align: center; 
}

#sales .sales {
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Newsletter */
#newsletter form {
  display: flex;  
  align-items: flex-start;
}

#newsletter input {
  padding: 0.5rem;
  flex: 3; 
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 2rem;
}

footer .container {
  display: grid;   
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
} 

footer li {
  line-height: 2;
}

footer input {
  padding: 0.5rem;
}
